body {
  padding: 40px;
  width: 1200px;
  height: 1400px;

}
.wrapper{
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid black;
}
.skills-block {
  background-color: #1E2939;
  padding-top: 40px;
  color: white;
  max-width: 400px;

}
.image {
  width: 100%;
}
.container {
  padding: 50px 40px 50px 40px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 10px;
}
.contact {
  color: gray;
}
li {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: -20px;
}
.about-user {
  padding: 40px;
}
.user-container{
  margin-bottom: 50px;
}
.name{
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
}
.work {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
a {
  color:#595959 ;
}
ol {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
h4{

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.lorem{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
}
.time-work{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
}
.managment{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
}
.project {
  margin-bottom: 50px;
}
.number-list {
  font-weight: bold;
}
.link{
  font-weight: normal;
}
.red-point{
color: #FB6D3A;
  
}
.white-text {
  color: white;
}

